body { padding-top: 70px;}

.navbar-default {
background-color: #2e3e4f;
border-color: #374a5d;
padding-top: 10px;
padding-bottom: 10px;
}

.navbar-brand img {
	margin: -25px;
}

.navbar-toggle {
position: relative;
float: left;
margin-left: 15px;
margin-right: 10px;
}

#sidebar-wrapper {
background: #edf0f1;
border-right:1px solid #818b8d;
}

.sidebar-nav li a {
color: #2e3e4f;
}

.sidebar-nav li a:hover {
background: #2e3e4f;
}

.sidebar-brand a {
color: #2e3e4f !important;
}

.navbar-default .navbar-nav a {
border-radius: 20px;
margin-right:5px;
color: #f3f1f2;
}

.navbar-default .navbar-nav a:hover {
color: #f3f1f2;
background-color: #2e3e4f;
border-bottom:3px solid #27abe0;
margin-bottom: -3px;
}

.navbar-default .navbar-nav>.active>a {
color: #f3f1f2;
background-color: #2e3e4f;
border-bottom:3px solid #27abe0;
}

.navbar-default .navbar-nav>.active>a:hover {
color: #f3f1f2;
background-color: #2e3e4f;
border-bottom:3px solid #27abe0;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
 border-color: #2e3e4f;
}